@keyframes hpborder-from-bottom-to-top {
  0% { height:0; }
  100% { height: 96%; }
}

@keyframes hpborder-from-left-to-right {
  0% { width:0; }
  100% { width: 98%; }
}

@media screen and (orientation:portrait) { 
  @keyframes hpborder-from-bottom-to-top {
    0% { height:0; }
    100% { height: 98%; }
  }

  @keyframes hpborder-from-left-to-right {
    0% { width:0; }
    100% { width: 96%; }
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0;}
}

@keyframes left-to-right-infinite {
  0% { margin-left:45%; }
  50% { margin-left: 40%; }
  100% { margin-left: 45%; }
}

.left-to-right-infinite {
 animation-name: left-to-right-infinite;
 animation-duration: 1s; /* or: Xms */
 animation-iteration-count: infinite;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
}

.hpborder-from-bottom-to-top {
 animation-name: hpborder-from-bottom-to-top;
 animation-duration: 500ms; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
}

.hpborder-from-left-to-right {
 animation-name: hpborder-from-left-to-right;
 animation-duration: 500ms; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
}

.fade-in-slow {
 animation-name: fade-in;
 animation-duration: 1s; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
 opacity:0;
}

.fade-in-fast {
 animation-name: fade-in;
 animation-duration: 250ms; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
 opacity:0;
}

.fade-out-slow {
 animation-name: fade-out;
 animation-duration: 1s; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
 opacity:0;
}

.fade-out-slow {
 animation-name: fade-out;
 animation-duration: 250ms; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
 opacity:0;
}

.fade-out-ultra-slow {
 animation-name: fade-out;
 animation-duration: 2s; /* or: Xms */
 animation-iteration-count: 1;
 animation-direction: normal; /* or: alternate */
 animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
 animation-fill-mode: forwards; /* or: backwards, both, none */
 animation-delay: 0ms; /* or: Xms */
 opacity:0;
}

.delayed-250 {
    animation-delay: 250ms; /* or: Xms */
}

.delayed-500 {
    animation-delay: 500ms; /* or: Xms */
}

@media screen and (orientation:portrait) {
  @keyframes hpborder-from-left-to-right {
    0% { width:0; }
    100% { width: 96%; }
  }
  @keyframes hpborder-from-bottom-to-top {
    0% { height:0; }
    100% { height: 98%; }
  }

}