body, html {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-size: 100%;
    /*font-family: 'Annie Use Your Telescope', cursive;*/
    font-family: 'Lora', serif;
    text-rendering: geometricPrecision;
    background-color:black;
    color:white;
}

/* GENERIC */

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    background-color: black;
}
 
::-webkit-scrollbar-thumb {
    background-color:#95a5a6;
}

.hidden {
    display: none;
    opacity: 0;
}

.blurred {
  filter: blur(2px);
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.height-0 {
    height: 0 !important;
}
.height-15 {
    height: 15% !important;
}
.height-25 {
    height: 25% !important;
}
.height-35 {
    height: 35% !important;
}
.height-50 {
    height: 50% !important;
}
.height-75 {
    height: 75% !important;
}
.height-100 {
    height: 100% !important;
}

.width-0 {
    width: 0 !important;
}
.width-25 {
    width: 25% !important;
}
.width-50 {
    width: 50% !important;
}
.width-75 {
    width: 75% !important;
}
.width-100 {
    width: 100% !important;
}

.brand-image {
    width:100%;
    height: 100%;
}

.brand-image-container {
    padding:1px;
}

.fill-container {
    width:98% !important;
    height: 96% !important;
    z-index: 10 !important;
}

/* MAPS */

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/* HOMEPAGE START */

#container {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}

@media screen and (orientation:portrait) {}
@media (max-width: 1500px) {}
@media (max-width: 1000px) {}
@media (max-width: 500px) {}