#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}

#menu .menu-item {
    width: 100%;
    height: auto;
    color: #fff;
    font-size:250%;
    transition: all 250ms;
    -webkit-transition: all 250ms;
    border-bottom:2px solid white;
}
 
#menu .menu-item:hover {
    cursor:pointer;
    background-color:#fff;
    color: black;
}

#menu .menu-item:first-child {
    margin-top: 150px;
}

.menu-link {
    position:fixed;
    padding:25px;
    top: 4%;
    left: 2%;
    font-size: 150%;
    color:#fff;
    z-index: 99999;
    text-transform: uppercase;
    opacity: 0.5;
}
.menu-link:before {
  content: "";
  background: black;
  height: 4px;
  width: 40px;
  position: absolute;
  top: 20px;
  left: 50%;
  margin: 0 0 0 -20px;
  display: block;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.menu-link:after {
  content: "";
  background: black;
  height: 4px;
  width: 40px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin: 0 0 0 -20px;
  display: block;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.menu-link.close {
    opacity: 1;
}

.menu-link.close:before {
  background:white;
  transform: rotate(45deg);
  top: 15px;
  width: 25px;
  margin: 0 0 0 -13px;
}
.menu-link.close:after {
  background:white;
  transform: rotate(-45deg);
  top: 15px;
  width: 25px;
  margin: 0 0 0 -13px;
}